* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkcyan;
}

.card {
    text-align: center;
}

.search-bar {
    border-radius: 10px;
    border-color: white;
    background-color: rgb(117, 116, 116);
    height: 30px;
    width: 250px;
}

.button {
    height: 30px;
    width: 25px;
}